:root{
    --font-sans: 'Open Sans', sans-serif;
    /* Colores */
    --blanco: #fff;
    --blanco-50: #f3f3f3;
    --negro: #000;
    --gris-medio: #666;
}

/* Global */
*{
    font-family: var(--font-sans);
}

/* Header */
header{
    background: url(./../img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

header h1{
    text-align: center;
    font-size: 35px;
    color: var(--blanco);
    padding: 30px 0;
}

/* Seccion */
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* Oculto lo que queda * fuera del contenedor */
    contain: paint;
}
.contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:  30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.item{
    max-width: 200px;
    padding: 10px;
    margin: auto;
    border: 1px solid var(--gris-medio);
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.item:hover{
    box-shadow: 0 0 10px var(--gris-medio);
    scale:  1.05;
}

.titulo-item{
    display: block;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; 
}

.img-item{
    width: 100%;
}

.precio-item{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background: var(--negro);
    color: var(--blanco);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Seccion Carrito de compras */

.carrito{
    border: 1px solid var(--gris-medio);
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    opacity: 0;
    margin-right: -100%;
}

.header-carrito{
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 30px 0;
}

.carrito-items{

}
.carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--gris-medio);
    padding: 20px;
}
.carrito-item img{
    margin-right: 20px;
}
.carrito-item-detalles{

}
.carrito-item-titulo{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}
.selector-cantidad{
    display: inline-block;
    margin-right:  25px;
}
.selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--negro);
    cursor: pointer;
}
.restar-cantidad{

}
.carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.sumar-cantidad{

}
.carrito-item-precio{
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 18px;
}
.btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--negro);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--negro);
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background: var(--blanco-50);
    padding: 30px;
}
.fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.carrito-precio-total{

}
.btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.btn-pagar:hover{
    scale: 1.05;
}


/* Responsive */
@media (max-width: 850px) {
    .contenedor{
        display: block;

    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100% !important;
    }
}